.inputLabels {
    float:unset;
    font-weight: bold;
    padding-top:30px;
}

.loginContainer {    
    padding-top: 150px;
}

.inputPrepend {
    background: #dddddd;
}

.fa {
    padding-top: 25%;
}

.user_card {
    height: 500px;
    width: 400px;
    margin-top: auto;
    margin-bottom: auto;
    background: #353232;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;

}
.brand_logo_container {
    position: absolute;
    height: 120px;
    width: 220px;
    top: -30px;
    border-radius: 0%;
    background: #e40888;
    padding: 10px;
    text-align: center;

}

.brand_logo {
    height: 100px;
    width: 200px;
    border-radius: 0%;
    border: 1px solid white;
}

.form_container {
    margin-top: 100px;
}


